@{
    ViewData["Message"] = "Your application description page.";
    ViewData["Email"] = "teste@gmail.com";
}
<h1>@ViewData["Message"]</h1>
<h1>@ViewData["Email"]</h1>

<p>Use this page to detail about yourself.</p>

<h2>@ViewData["Title"]</h2>
 <p>Information is Power</p> 
 <address>
     <strong>More information:</strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
 </address>
